
.nav-link{
    color: #000;
    font-weight: 600;
}

.nav-link:hover{
    text-decoration: underline;
    color: #000;
}

.wedding-section img{
    width: 250px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card{
    border: 1px solid lightgray;
    border-radius: 30px;
    transition: 1s;
}

.card:hover{
    box-shadow: 10px 10px 16px -9px rgba(186,186,186,0.89);
    border-radius: 30px;
}

.card-3{
    color: #fff;    
    background-color: #3F87F5;
    border-radius: 30px;
    position: relative;
}

.hot{
    position: absolute;
    background: red;
    right: 24px;
    top: -10px;
    padding: 3px 10px;
    font-size: 10px;
    border-radius: 12px;
}

